font-family: 'Quicksand', sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fce4ec;
    color: #333;
}

/* Section Title */
.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: #e91e63;
}

.highlight {
    color: #e91e63;
}

/* Product Container */
.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
}

/* Product Card */
.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

/* Price Styling */
.price {
    font-size: 18px;
}

.new-price {
    color: #e91e63;
    font-weight: bold;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color:  #ff1744;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.old-price {
    color: #999;
    text-decoration: line-through;
}

/* Discount Tag */
.discount-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff1744;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}
